In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from keras.models import  Sequential
from keras.layers import Dense
import keras.activations,keras.losses

In [14]:
df=pd.read_csv("../Res/Star39552_balanced.csv")

In [15]:
df

        Vmag    Plx  e_Plx    B-V SpType       Amag  TargetClass
0      10.00  31.66   6.19  1.213    K7V  22.502556            1
1       8.26   3.21   1.00  1.130  K0III  15.792525            0
2       8.27  12.75   1.06  0.596    F9V  18.797552            1
3       6.54   5.23   0.76  1.189  K1III  15.132508            0
4       8.52   0.96   0.72  0.173    B8V  13.431356            1
...      ...    ...    ...    ...    ...        ...          ...
39547   5.83   0.17   0.52  0.474  B7Iab   6.982245            0
39548   7.05  18.12   0.92  0.424    F5V  18.340790            1
39549   9.21   3.89   1.46  0.227   A1IV  17.159748            1
39550   9.01   2.13   1.46  1.467  M5III  15.651898            0
39551   9.12   3.82   0.79  0.480    F5V  17.030317            1

[39552 rows x 7 columns]

In [12]:
Star3642_balanced

      Vmag    Plx  e_Plx    B-V       SpType       Amag  TargetClass
0     5.99  13.73   0.58  1.318        K5III  16.678352            0
1     8.70   2.31   1.29 -0.045         B1II  15.518060            0
2     5.77   5.50   1.03  0.855        G5III  14.471813            0
3     6.72   5.26   0.74 -0.015          B7V  15.324928            1
4     8.76  13.44   1.16  0.584          G0V  19.401997            1
...    ...    ...    ...    ...          ...        ...          ...
3637  7.29   3.26   0.95  1.786        K4III  14.856089            0
3638  8.29   6.38   1.00  0.408       F2IV/V  17.314104            1
3639  6.11   2.42   0.79  1.664  M0/M1IIICNp  13.029078            0
3640  7.94   4.94   2.90  0.210          A5V  16.408636            1
3641  8.81   1.87   1.23  1.176     K1/K2III  15.169209            0

[3642 rows x 7 columns]