In [15]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("../Res/Star99999_raw.csv", index_col=0)
df

        Vmag      Plx   e_Plx     B-V    SpType
0       9.10     3.54    1.39   0.482        F5
1       9.27    21.90    3.10   0.999       K3V
2       6.61     2.81    0.63  -0.019        B9
3       8.06     7.75    0.97   0.370       F0V
4       8.55     2.87    1.11   0.902     G8III
...      ...      ...     ...     ...       ...
99994   8.72     3.07    0.87   0.097        B3
99995   9.25                    0.131       A1V
99996   8.08     1.07    0.68   1.094        G5
99997   6.98     2.97    0.76  -0.143     B1.5V
99998   8.51    -1.18    1.34   1.568  K5/M0III

[99999 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99999 entries, 0 to 99998
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Vmag    99999 non-null  object
 1   Plx     99999 non-null  object
 2   e_Plx   99999 non-null  object
 3   B-V     99999 non-null  object
 4   SpType  97377 non-null  object
dtypes: object(5)
memory usage: 4.6+ MB

In [4]:
df[['Vmag', 'Plx', 'e_Plx', "B-V"]] = df[['Vmag', 'Plx', 'e_Plx', "B-V"]].apply(pd.to_numeric, errors='coerce')
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96742 entries, 0 to 99998
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Vmag    96742 non-null  float64
 1   Plx     96742 non-null  float64
 2   e_Plx   96742 non-null  float64
 3   B-V     96742 non-null  float64
 4   SpType  96742 non-null  object
dtypes: float64(4), object(1)
memory usage: 4.4+ MB

In [5]:
df["Amag"] = df["Vmag"] + 5 * (np.log10(df["Plx"]) + 1)
df

C:\Users\peter\anaconda3\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\peter\anaconda3\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: invalid value encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\peter\AppData\Local\Temp\ipykernel_44380\3812375628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Amag"] = df["Vmag"] + 5 * (np.log10(df["Plx"]) + 1)

       Vmag    Plx  e_Plx    B-V    SpType       Amag
0      9.10   3.54   1.39  0.482        F5  16.845016
1      9.27  21.90   3.10  0.999       K3V  20.972221
2      6.61   2.81   0.63 -0.019        B9  13.853532
3      8.06   7.75   0.97  0.370       F0V  17.506509
4      8.55   2.87   1.11  0.902     G8III  15.839409
...     ...    ...    ...    ...       ...        ...
99993  7.92   3.93   1.24  0.133     Am...  15.891963
99994  8.72   3.07   0.87  0.097        B3  16.155692
99996  8.08   1.07   0.68  1.094        G5  13.226919
99997  6.98   2.97   0.76 -0.143     B1.5V  14.343782
99998  8.51  -1.18   1.34  1.568  K5/M0III        NaN

[96742 rows x 6 columns]

In [6]:
df = df.dropna()
df

       Vmag    Plx  e_Plx    B-V SpType       Amag
0      9.10   3.54   1.39  0.482     F5  16.845016
1      9.27  21.90   3.10  0.999    K3V  20.972221
2      6.61   2.81   0.63 -0.019     B9  13.853532
3      8.06   7.75   0.97  0.370    F0V  17.506509
4      8.55   2.87   1.11  0.902  G8III  15.839409
...     ...    ...    ...    ...    ...        ...
99992  7.69   6.60   0.92  1.110  K2III  16.787720
99993  7.92   3.93   1.24  0.133  Am...  15.891963
99994  8.72   3.07   0.87  0.097     B3  16.155692
99996  8.08   1.07   0.68  1.094     G5  13.226919
99997  6.98   2.97   0.76 -0.143  B1.5V  14.343782

[93591 rows x 6 columns]

In [7]:
df["SpType"].head(10)

0              F5
1             K3V
2              B9
3             F0V
4           G8III
5            M0V:
6              G0
7    M6e-M8.5e Tc
8              G5
9             F6V
Name: SpType, dtype: object

In [8]:
def star_type(spectral_type):
    if 'III' in spectral_type:
        return 1 # Giant
    elif 'IV' in spectral_type or 'V' in spectral_type:
        return 0 # Dwarf
    else:
        return None

df["target"] = df["SpType"].apply(star_type)
df

C:\Users\peter\AppData\Local\Temp\ipykernel_44380\338934074.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"] = df["SpType"].apply(star_type)

       Vmag    Plx  e_Plx    B-V SpType       Amag  target
0      9.10   3.54   1.39  0.482     F5  16.845016     NaN
1      9.27  21.90   3.10  0.999    K3V  20.972221     0.0
2      6.61   2.81   0.63 -0.019     B9  13.853532     NaN
3      8.06   7.75   0.97  0.370    F0V  17.506509     0.0
4      8.55   2.87   1.11  0.902  G8III  15.839409     1.0
...     ...    ...    ...    ...    ...        ...     ...
99992  7.69   6.60   0.92  1.110  K2III  16.787720     1.0
99993  7.92   3.93   1.24  0.133  Am...  15.891963     NaN
99994  8.72   3.07   0.87  0.097     B3  16.155692     NaN
99996  8.08   1.07   0.68  1.094     G5  13.226919     NaN
99997  6.98   2.97   0.76 -0.143  B1.5V  14.343782     0.0

[93591 rows x 7 columns]

In [9]:
df = df.dropna()
df

        Vmag    Plx  e_Plx    B-V SpType       Amag  target
1       9.27  21.90   3.10  0.999    K3V  20.972221     0.0
3       8.06   7.75   0.97  0.370    F0V  17.506509     0.0
4       8.55   2.87   1.11  0.902  G8III  15.839409     1.0
5      12.31  18.80   4.99  1.336   M0V:  23.680789     0.0
9       8.59  10.76   1.10  0.489    F6V  18.749061     0.0
...      ...    ...    ...    ...    ...        ...     ...
99982   8.05   6.24   1.17  1.157  K2III  17.025923     1.0
99984   9.26   2.68   1.36  0.521    F5V  16.400674     0.0
99987   8.79   0.89   1.28  1.194  K1III  13.536950     1.0
99992   7.69   6.60   0.92  1.110  K2III  16.787720     1.0
99997   6.98   2.97   0.76 -0.143  B1.5V  14.343782     0.0

[44568 rows x 7 columns]

In [10]:
df["target"].value_counts()

target
0.0    26010
1.0    18558
Name: count, dtype: int64

In [16]:
# Get the current working directory
current_dir = os.getcwd()

# Move one directory up
os.chdir("..")
os.chdir("Res")

df.to_csv("processed_raw_data.csv", index=False)

# Change back to the original working directory
os.chdir(current_dir)