In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC, LinearSVR 
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, balanced_accuracy_score, precision_score, recall_score, classification_report
from sklearn.preprocessing import StandardScaler
import gzip
import csv

In [2]:
# open the compressed data
with gzip.open("../Res/athyg_v24.csv.gz", 'rt') as reader_ath_hyg:
    ath_hyg=pd.read_csv(reader_ath_hyg, low_memory=False)
    
with gzip.open("../Res/hygdata_v37.csv.gz", 'rt') as reader_hyg:
    hyg=pd.read_csv(reader_hyg, low_memory=False)

In [3]:
df=pd.read_csv("../Res/processed_raw_data.csv")

In [4]:
ath_hyg

,id,tyc,gaia,hyg,hip,hd,hr,gl,bayer,flam,...,rv,rv_src,pm_ra,pm_dec,pm_src,vx,vy,vz,spect,spect_src
0,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,OTHER,NaN,NaN,OTHER,NaN,NaN,NaN,G2 V,OTHER
1,2,4669-731-1,2.443095e+18,NaN,NaN,224701.0,NaN,NaN,NaN,NaN,...,-17.371,G_R3,22.498,-11.301,G_R3,-19.904,54.306,-25.490,G8 IV,T
2,3,1-381-1,NaN,1.0,1.0,224700.0,NaN,NaN,NaN,NaN,...,NaN,N,-5.200,-1.880,HYG,0.037,-5.418,-1.958,F3 V,T
3,4,3258-1994-1,3.957096e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-27.782,G_R3,14.421,1.836,G_R3,-21.830,47.647,-18.225,NaN,N
4,5,5260-880-1,2.422928e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-44.539,G_R3,-10.292,-17.136,G_R3,-50.859,-24.482,-32.536,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552160,2552161,1722-672-1,2.772098e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.661,G_R3,28.069,-3.353,G_R3,-3.345,66.187,-9.130,NaN,N
2552161,2552162,6988-385-1,2.333399e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-13.195,G_R3,-23.053,-47.450,G_R3,-28.788,-17.868,-26.420,NaN,N
2552162,2552163,3241-1424-1,1.921555e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,N,11.916,-30.287,G_R3,24.301,14.265,-26.911,NaN,N
2552163,2552164,3660-1372-1,1.994790e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-57.914,G_R3,-7.611,-2.789,G_R3,-12.816,-63.404,-61.069,NaN,N
2552164,2552165,593-1533-1,2.744972e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-18.653,G_R3,-4.754,-7.840,G_R3,-17.376,-8.014,-14.857,NaN,N

In [7]:
ath_hyg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2552165 entries, 0 to 2552164
Data columns (total 34 columns):
 #   Column     Dtype
---  ------     -----
 0   id         int64
 1   tyc        object
 2   gaia       float64
 3   hyg        float64
 4   hip        float64
 5   hd         float64
 6   hr         float64
 7   gl         object
 8   bayer      object
 9   flam       float64
 10  con        object
 11  proper     object
 12  ra         float64
 13  dec        float64
 14  pos_src    object
 15  dist       float64
 16  x0         float64
 17  y0         float64
 18  z0         float64
 19  dist_src   object
 20  mag        float64
 21  absmag     float64
 22  ci         float64
 23  mag_src    object
 24  rv         float64
 25  rv_src     object
 26  pm_ra      float64
 27  pm_dec     float64
 28  pm_src     object
 29  vx         float64
 30  vy         float64
 31  vz         float64
 32  spect      object
 33  spect_src  object
dtypes: float64(21), int64(1), object(12)
memory usage: 662.0+ MB

In [ ]:
df

In [ ]:
df.info()

In [ ]:
dff = df.drop(columns="SpType").copy()

In [ ]:
## df has inifinite values in it and there where some nulls
dff.replace([np.inf, -np.inf], np.nan, inplace=True)
dff.fillna(dff.mean(), inplace=True)

In [ ]:
X = dff.drop(columns=["target","B-V"]).copy()
y = dff["target"]

In [ ]:
X.info()

In [ ]:
X

In [ ]:
y.info()

In [ ]:
y

In [ ]:
#labelencoder_X=LabelEncoder()
#X[:,4]=labelencoder_X.fit_transform(X[:,4])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [ ]:
#svc 
clfr = SVC(kernel="rbf", random_state=42)
clfr.fit(X_train, y_train)

In [ ]:

svc_pred = clfr.predict(X_test)

In [ ]:
conf_mtx = confusion_matrix(y_test, svc_pred)
conf_mtx

In [ ]:
print(classification_report(y_test, svc_pred, labels = [1, 0]))

In [ ]:
# random forest 
clfr = RandomForestClassifier(n_estimators=500, random_state = 42)
clfr.fit(X_train, y_train)

In [ ]:
rf_pred = clfr.predict(X_test)

In [ ]:
cof_mtx = confusion_matrix(y_test, rf_pred)
cof_mtx

In [ ]:
print(classification_report(y_test, rf_pred, labels = [1, 0]))

In [ ]:
#log reggession 
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

log_pred = logreg.predict(X_test)

In [ ]:
cof_mtx = confusion_matrix(y_test, log_pred)
cof_mtx

In [ ]:
print(classification_report(y_test, log_pred, labels = [1, 0]))